duffbeer/HELP.md
duffbeer/target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea
duffbeer/.idea
duffbeer/*.iws
duffbeer/*.iml
duffbeer/*.ipr

### VS Code ###
duffbeer/.vscode/
